body {
  font-family: monospace;
  background-color: #222;
  color: #00FF00;
  font-size: 1.1vw;
}

a {
  color: #00FF00;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  height: 100%;
  background-color: #222;
  justify-content: center;
}

.center {
  border: solid #eee 1px;
  padding: 40px;
  overflow-x: hidden;
  background-color: #000;
}

.row {
  height: 1.8vw;
  display: flex;
}

.centered {
  display: block;
  text-align: center;
}

.col_3 {
  width: 3ch;
}

.col_4 {
  width: 4ch;
}

.col_8 {
  width: 8ch;
}

.col_10 {
  width: 10ch;
}

.col_12 {
  width: 12ch;
}

.col_13 {
  width: 13ch;
}

.col_15 {
  width: 15ch;
}

.col_16 {
  width: 16ch;
}

.col_19 {
  width: 19ch;
}

.col_30 {
  width: 30ch;
}

.col_34 {
  width: 34ch;
}

.col_40 {
  width: 40ch;
}

.col_64 {
  width: 64ch;
}

.col_77 {
  width: 77ch;
}
