appnope==0.1.0
backcall==0.1.0
boto3==1.21.13
botocore==1.24.13
certifi==2021.10.8
chardet==3.0.4
decorator==4.4.0
docutils==0.15.2
grpcio==1.44.0
grpcio-tools==1.44.0
idna==3.3
ipdb==0.12.2
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.15.1
jmespath==0.10.0
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==2.0.10
protobuf==3.19.4
ptyprocess==0.6.0
Pygments==2.7.4
python-dateutil==2.8.2
requests==2.27.1
s3transfer==0.5.2
six==1.12.0
traitlets==4.3.3
urllib3==1.26.8
wcwidth==0.1.7
