appnope==0.1.0
backcall==0.1.0
boto3==1.9
botocore==1.4.93
decorator==4.4.0
grpcio==1.24.1
grpcio-tools==1.24.1
ipdb==0.12.2
ipython==7.8.0
ipython-genutils==0.2.0
jedi==0.15.1
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==2.0.10
protobuf==3.10.0
ptyprocess==0.6.0
Pygments==2.7.4
requests==2.22.0
six==1.12.0
traitlets==4.3.3
wcwidth==0.1.7
