<html>
    <head>
        <title>Satoshi's Pizzeria</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/lofi.css') }}">
        <style>
            input, input:focus {
                border: none;
                background-color: black;
                color:#00FF00;
                font-family:monospace;
                font-size:1.0vw;
                width:70ch;
                outline:none;
            }
        </style>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js", crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.js", crossorigin="anonymous"></script>

    </head>
    <body>
        <div class="container">
          <div class="center">
            <div id="output" class="row"></div>
            <div id="input" class="row">>&nbsp;<input id="prompt" name="cmd"></input></div>
          </div>
        </div>
    </body>

<script>

// if this is a new passphrase, set up a new monitored subaddress
function getStatus(passphrase) {
  var method = "POST";
  var url = "/add_user";
  var salt = CryptoJS.enc.Utf16.parse("don't oversalt the dough!");
  console.log(passphrase);
  var hashed_passphrase = CryptoJS.PBKDF2(passphrase, salt, {keySize: 8, iterations: 500});
  var data = { player_data: hashed_passphrase };
  return $.ajax({method, url, data}).then(r => {
      return JSON.parse(r);
  });
};

// passphrase --> hash
// call mobilecoind with hash
// add to table if a new hash
// return hash status
function getText(passphrase) {
  if (passphrase === "" ) {
    return "Welcome to Satoshi's Pizzeria.\n\nPlease enter your passphrase.\n\n";
  }
    return getStatus(passphrase).then(status => {
        console.log(status.code, status.mob, status.time);
        var line = "*******************************************************************************";
        var text = line + '\n\n';
        text += "Remember your passphrase to claim your pizza: \n\n" + passphrase + "\n\n";
        text += "Your request code is: \n\n";
        text += status.code;
        text += "\n\n" ;
        text += "You have deposited " + status.mob + " MOB" + ". Deposit 10000 MOB to win.\n\n";
        text += line + '\n\n';
        text += "Leaderboard: \n";
        text += status.leaderboard;
        text += '\n\n' + line + '\n\n';

        return text;
  });
};

function slowWrite(content) {
  $("#input").hide();
  var dfd = $.Deferred();
  var letters = content.split("");
  var current = 0;
  var elem = $("#output");
  $("#output").text("");
  var interval = setInterval(function() {
    if (current < letters.length) {
      elem.text(elem.text() + letters[current++]);
    }
    else {
      dfd.resolve();
      clearInterval(interval);
      $("#input").show();
      $("input[name=cmd]").val("");
      $("input[name=cmd]").focus();
    }
  }, 2);
  return dfd.promise();
};

slowWrite(getText(""))

$(document).keydown(async function(e) {
  key = e.keyCode;
  if(key == 13) { // enter
    e.preventDefault();
    var cmd = $("#prompt").val().trim();
    slowWrite(await getText(cmd));
  }
});

</script>

</html>
