<html>
    <head>
        <title>Satoshi's Pizzeria</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/lofi.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <script src="https://code.jquery.com/jquery-3.5.1.min.js", crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.js", crossorigin="anonymous"></script>

    </head>
    <body>
        <div class="container">
          <div class="center">
            <div id="output" class="row"></div>
            <div id="input" class="row">
              <span id="prompt">>&nbsp;</span>
              <input id="cmd" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" name="cmd"></input>
            </div>
          </div>
        </div>
        <div class="hidden"><input id="code" type="text" value=''></input></div>
    </body>

<script>

var needs_reset = false;

function getStatus(passphrase) {
  var method = "POST";
  var url = "/add_user";
  var salt = CryptoJS.enc.Utf16.parse("don't oversalt the dough!");
  var hashed_passphrase = CryptoJS.PBKDF2(passphrase, salt, {keySize: 256/32, iterations: 500}).toString(CryptoJS.enc.Hex);
  var data = { player_data: hashed_passphrase };
  return $.ajax({method, url, data}).then(r => {
      return JSON.parse(r);
  });
};

function getText(passphrase) {
  if (passphrase === "" ) {
    return "Welcome to Satoshi's Pizzeria.\n\nPlease enter a unique passphrase.\n\n";
  }
  else {
    return getStatus(passphrase).then(status => {
        console.log(status);

        // copy request code to clipboard
        $('#code').val(status.code);
        $('#code').focus();
        $('#code').select();
        document.execCommand('copy');

        var line = "********************************************************************************\n";

        var text = line + '\n';
        text += "Remember your passphrase to claim your pizza: \n\n" + passphrase + "\n\n";
        text += "Your request code is: \n\n";
        text += status.code;
        text += "\n\n" ;
        text += "You have deposited " + status.mob + " MOB" + ". Deposit 10000 MOB to win.\n\n";
        text += line + '\n\n';
        // render the leaderboard here

        var found_user = false;
        var rows_printed = 0;
        for (var i = 0; i < status.leaderboard.length; i++) {
          var balance = status.leaderboard[i].balance;
          var code = status.leaderboard[i].code;
          if (status.code === code) {
            console.log("found user");
            found_user = true;
            text += "*** ";
          }
          else {
           text += "    ";
          }
          rows_printed++;


          text += i + " " + code.slice(0, 10) + "... " + balance + "\n"
        }


        text += "\n\n" + line + "\n\n"

        $('#prompt').hide(); // hide prompt '> '
        text += "Your request code was copied to the clipboard. "
        text += "Press any key to continue...";
        $("input[name=cmd]").focus();

        needs_reset = true;

        return text;
      });
  }
};

function slowWrite(content) {
  $("#input").hide();
  var dfd = $.Deferred();
  var letters = content.split("");
  var current = 0;
  var count = 0;
  var elem = $("#output");
  $("#output").text("");
  var interval = setInterval(function() {
    if (current < letters.length) {
      var current_letter = letters[current];

      if (current_letter === '\n') {
        count = 0;
      } else {
        count++;
      }
      if (count == 81) {
        count = 0;
        elem.text(elem.text() + '\n' + current_letter);
      } else {
        elem.text(elem.text() + current_letter);
      }
      current++;
    }
    else {
      dfd.resolve();
      clearInterval(interval);
      $("#input").show();
      $("input[name=cmd]").val("");
      $("input[name=cmd]").focus();
    }
  }, 2);
  return dfd.promise();
};

function resetAll() {
  $('#prompt').show();
  $("#code").val('');
  needs_reset = false;
  slowWrite(getText(""));
}

$(document).keydown(async function(e) {
  if (needs_reset) {
    resetAll();
  }
  else {
    key = e.keyCode;
    if(key == 13) { // enter
      e.preventDefault();
      var cmd = $("#cmd").val().trim();
      slowWrite(await getText(cmd));
    }
  }
});

$(document).mousedown(async function(e) {
  e.preventDefault();
  if ( $("#code").val() ) {
    var code = $("#code").val().match(/.{1,40}/g).join("\n");
    alert("Your request code was copied to the clipboard.\n\n" + code );
  }
  $("input[name=cmd]").focus();
});

resetAll();

</script>

</html>
