<html>
    <head>
        <title>MobileCoin Blockchain Explorer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/lofi.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div class="container">
<div class="center">
<div class="row">********************************************************************************</div>
<div class="row">&nbsp;&nbsp;<a href="/"><</a></div>
<div class="row centered">MobileCoin Blockchain Explorer</div>
<div class="row">&nbsp;</div>
<div class="row centered">Block {{ block_num }} is not available!</div>
<div class="row">&nbsp;</div>
<div class="row">********************************************************************************</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row centered">The last index in the ledger is <a href="/block/{{num_blocks-1}}">{{ num_blocks-1 }}</a>.</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">********************************************************************************</div>
</div>
        </div>
    </body>
</html>
