<html>
    <head>
        <title>MobileCoin Blockchain Explorer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/lofi.css') }}">
    </head>
    <body>
        <div class="container">
<div class="center">
********************************************************************************
<div class="row">&nbsp;&nbsp;<a href="/"><</a></div>
<div class="row centered">MobileCoin Blockchain Explorer</div>
<div class="row">&nbsp;</div>
<div class="row centered">
    <a href="/block/{{ block_num - 1 }}">-</a>
    &nbsp;Block {{ block_num }}&nbsp;
    <a href="/block/{{ block_num + 1 }}">+</a>
</div>
<div class="row">&nbsp;</div>
********************************************************************************
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col_15">Size (txos)</div>
    <div class="col_30">{{ txo_count }}</div>
</div>
<div class="row">
    <div class="col_15">Size (kB)</div>
    <div class="col_30">{{ size_of_block }}</div>
</div>
<div class="row">
    <div class="col_15">Hash</div>
    <div class="col_30">{{ block_hash.hex() }}</div>
</div>
<div class="row">
    <div class="col_15">Key Images</div>
    <div class="col_30">{{ key_image_count }}</div>
</div>
<div class="row">&nbsp;</div>
********************************************************************************
<div class="row inset">Signatures</div>
********************************************************************************
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col_40">Url</div>
    <div class="col_15">Signer</div>
    <div class="col_15">Signature</div>
</div>
<div class="row">
    <div class="col_40">***</div>
    <div class="col_15">******</div>
    <div class="col_15">*********</div>
</div>
{%- for signature in signatures %}
    <div class="row">
      <div class="col_40">{{ signature.src_url }}</div>
      <div class="col_15">{{ signature.signature.signer.data.hex()[:7] }}</div>
      <div class="col_15">{{ signature.signature.signature.data.hex()[:9] }}</div>
    </div>
{%- endfor %}
<div class="row">&nbsp;</div>
********************************************************************************
<div class="row inset">Key Images</div>
********************************************************************************
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col_8">Index</div>
    <div class="col_65">Key Image</div>
</div>
<div class="row">
    <div class="col_8">*****</div>
    <div class="col_65">*********</div>
</div>
{%- for key_image in key_images %}
    <div class="row">
        <div class="col_8">{{ loop.index }}</div>
        <div class="col_65">{{ key_image.data.hex() }}</div>
    </div>
{%- endfor %}
<div class="row">&nbsp;</div>
********************************************************************************
<div class="row inset">Transaction Outputs</div>
********************************************************************************
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col_16">n</div>
    <div class="col_65">Transaction Data</div>
</div>
<div class="row">
    <div class="col_16">*</div>
    <div class="col_65">****************</div>
</div>
<div class="row">&nbsp;</div>
{%- for txo in txos %}
    <div class="row">
        <div class="col_3">{{ loop.index }}</div>
        <div class="col_13">TXO Pubkey</div>
        <div class="col_65">{{ txo.public_key.data.hex() }}</div>
    </div>
    <div class="row">
        <div class="col_3">&nbsp;</div>
        <div class="col_13">Target Addr</div>
        <div class="col_65">{{ txo.target_key.data.hex() }}</div>
    </div>
    <div class="row">
        <div class="col_3">&nbsp;</div>
        <div class="col_13">Amount</div>
        <div class="col_65">{{ txo.amount.commitment.data.hex() }}</div>
    </div>
    <div class="row">&nbsp;</div>
{%- endfor %}
<div class="row">&nbsp;</div>
</div>
        </div>
    </body>
</html>
