<html>
    <head>
        <title>MobileCoin Blockchain Explorer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/lofi.css') }}">
    </head>
    <body>
        <div class="container">

<div class="center">
<div class="row">********************************************************************************</div>
<div class="row">&nbsp;</div>
<div class="row centered">MobileCoin Blockchain Explorer</div>
<div class="row">&nbsp;</div>
<div class="row">********************************************************************************</div>
<div class="row">There are {{ num_blocks }} blocks and {{ num_transactions }} transactions in the ledger.</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col_8">Index</div>
    <div class="col_12">Size(txos)</div>
    <div class="col_12">Hash</div>
    {% if signers is defined %}
        <div class="col_12">Signatures</div>
        {%- for signer in signers %}
        <div class="col_4">{{ signer[:3] }}</div>
        {%- endfor %}
    {% endif %}
</div>
<div class="row">
    <div class="col_8">-----</div>
    <div class="col_12">----------</div>
    <div class="col_12">----</div>
    {% if signers is defined %}
        <div class="col_12">----------</div>
        {%- for signer in signers %}
        <div class="col_4">----</div>
        {%- endfor %}
    {% endif %}
</div>
{%- for block in blocks %}
    <div class="row">
        <div class="col_8"><a href="/block/{{ block[0]}}">{{ block[0] }}</a></div>
        <div class="col_12"><a href="/block/{{ block[0]}}">{{ block[1] }}</a></div>
        <div class="col_12"><a href="/block/{{ block[0]}}">{{ block[2][:5] }}...</a></div>
        {% if signers is defined %}
            <div class="col_12"><a href="/block/{{ block[0]}}">{{ block[3] }}</a></div>
            {%- for signer in signers %}
            <div class="col_4">{{ "&nbsp;|" if signers[signer] }}</div>
            {%- endfor %}
        {% endif %}
    </div>
{%- endfor %}
</div>

        </div>
    </body>
</html>
