<html>
    <head>
        <title>MobileCoin Blockchain Explorer</title>
        <style>
            td {text-align: left; padding-right: 20px;}
            body {font-family: 'Courier New', Courier, monospace; background-color: black; color: #00FF00;}
        </style>
    </head>
    <body>
        <pre>
********************************************************************************
                       MobileCoin Blockchain Explorer
                                 Block {{ block_num }}
********************************************************************************
Size (txos)  {{ txo_count }}
Size (kB)    {{ size_of_block }}
Hash         {{ block_hash.hex() }}
Key Images   {{ key_image_count }}


********************************************************************************
Key Images
********************************************************************************
            <table>
                <thead>
                    <tr>
                        <td>Index</td><td>Key Image (base64 bytes)</td>
                    </tr>
                    <tr>
                      <td>*****</td><td>************************</td>
                    </tr>
                </thead>
                <tbody>
                    {%- for key_image in key_images %}
                    <tr>
                      <td>{{ key_image[0] }}</td>
                      <td>{{ key_image[1].data.hex() }}</td>
                    </tr>
                    {%- endfor %}
                </tbody>
            </table>


********************************************************************************
Transaction Outputs
********************************************************************************
            <table>
                <thead>
                    <tr>
                        <td>Index</td><td>TXO public key (base64 bytes)</td><td>Target Address (base64 bytes)</td><td>Amount (base64 bytes)</td>
                    </tr>
                    <tr>
                        <td>*****</td><td>*****************************</td><td>*****************************</td><td>*********************</td>
                    </tr>
                </thead>
                <tbody>
                    {%- for txo in txos %}
                         <tr>
                            <td>{{ txo[0] }}</td>
                            <td>{{ txo[1].public_key.data.hex() }}</td>
                            <td>{{ txo[1].target_key.data.hex() }}</td>
                            <td>{{ txo[1].amount.commitment.data.hex() }}</td>
                        </tr>
                    {%- endfor %}
                </tbody>
            </table>
        </pre>
    </body>
</html>
